<!-- <%= link_to 'download as CSV', failures_path(format: :csv) %> -->

<table class='failures-table'>
  <thead>
    <tr>
      <td>Project</td>
      <td>Build #</td>
      <td>Branch</td>
      <td>Created</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @failures.each do |failure| %>
      <tr>
        <td><%= failure.repo_name %></td>
        <td><%= link_to failure.build_number, failure_path(failure.build_number) %></td>
        <td><%= failure.branch %></td>
        <td><%= time_ago_in_words(failure.first_created) %> ago</td>
        <td><%= pluralize(failure.total_count, 'failure') %></td>
      </tr>
    <% end %>
  </tbody>
</table>